# Day 0 
Data pre-process for the statistical problems in ss25

In [2]:
import pandas as pd

In [3]:
data_path = '../Materials/data/'

## Examples for creating samples for Lac1

In [24]:
# For CSV data
df = pd.read_csv(data_path+'Lac1_dg.csv')
print(df)

             ra        dec    xki    eta  radius  signal  noise      vr  e_vr  \
0    344.663910  41.243137  4.328 -2.878   5.209   279.1   50.5 -195.36  4.12
1    344.654999  41.235722  3.927 -3.323   5.280   382.8   47.7 -186.15  3.51
2    344.650360  41.250057  3.717 -2.463   4.468   127.4   42.0 -185.56  6.56
3    344.643341  41.225750  3.401 -3.922   5.686   629.3   54.0 -179.53  3.12
4    344.626373  41.277832  2.636 -0.797   2.920   448.3   58.6 -201.28  3.35
..          ...        ...    ...    ...     ...     ...    ...     ...   ...
121  344.499176  41.258251 -3.098 -1.972   5.993   275.2   48.1 -195.77  4.76
122  344.493408  41.277916 -3.358 -0.792   4.895   222.1   59.8 -190.77  5.73
123  344.488220  41.251221 -3.592 -2.393   7.090   270.7   57.1 -222.08  4.97
124  344.481171  41.274887 -3.910 -0.973   5.753   241.3   56.9 -206.85  6.08
125  344.479096  41.261890 -4.004 -1.753   6.746   372.6   61.4 -199.93  4.62

     P(member)
0         1.00
1         0.99
2         0.99
3         0.96
4         1.00
..         ...
121       1.00
122       1.00
123       0.98
124       1.00
125       1.00

[126 rows x 10 columns]

In [25]:
df['ra']

0      344.663910
1      344.654999
2      344.650360
3      344.643341
4      344.626373
          ...
121    344.499176
122    344.493408
123    344.488220
124    344.481171
125    344.479096
Name: ra, Length: 126, dtype: float64

In [26]:
# For CSV data
df1 = pd.read_csv(data_path+'Lac1_total.csv')
print(df1)

             ra        dec    xki    eta  radius  signal  noise      vr  e_vr  \
0    344.704712  41.202946  6.168 -5.290   8.358   425.0   60.8   -8.17  4.82
1    344.681000  41.197334  5.099 -5.627   8.227   621.9   64.3 -109.61  3.38
2    344.672821  41.197166  4.730 -5.637   8.128   804.3   68.0   -3.13  3.34
3    344.664093  41.191361  4.337 -5.985   8.489   214.8   54.7  -36.91  5.63
4    344.660217  41.189724  4.162 -6.083   8.598   322.1   58.5  -19.90  4.97
..          ...        ...    ...    ...     ...     ...    ...     ...   ...
164  344.487030  41.242168 -3.646 -2.937   7.877   395.8   57.2  -58.43  4.23
165  344.481171  41.274887 -3.910 -0.973   5.753   241.3   56.9 -206.85  6.08
166  344.479096  41.261890 -4.004 -1.753   6.746   372.6   61.4 -199.93  4.62
167  344.452789  41.238583 -5.189 -3.152   9.843   203.2   54.1 -125.36  6.38
168  344.449921  41.230556 -5.319 -3.633  10.616   666.0   72.0  -58.59  4.21

     P(member)
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
164        0.0
165        1.0
166        1.0
167        0.0
168        0.0

[169 rows x 10 columns]

In [27]:
df1['ra']

0      344.704712
1      344.681000
2      344.672821
3      344.664093
4      344.660217
          ...
164    344.487030
165    344.481171
166    344.479096
167    344.452789
168    344.449921
Name: ra, Length: 169, dtype: float64

In [31]:
ind_dg = df1['vr'] <= -160

In [32]:
dg = df1[ind_dg]
dg

,ra,dec,xki,eta,radius,signal,noise,vr,e_vr,P(member)
9,344.663910,41.243137,4.328,-2.878,5.209,279.1,50.5,-195.36,4.12,1.00
10,344.654999,41.235722,3.927,-3.323,5.280,382.8,47.7,-186.15,3.51,0.99
11,344.650360,41.250057,3.717,-2.463,4.468,127.4,42.0,-185.56,6.56,0.99
12,344.643341,41.225750,3.401,-3.922,5.686,629.3,54.0,-179.53,3.12,0.96
15,344.626373,41.277832,2.636,-0.797,2.920,448.3,58.6,-201.28,3.35,1.00
...,...,...,...,...,...,...,...,...,...,...
161,344.499176,41.258251,-3.098,-1.972,5.993,275.2,48.1,-195.77,4.76,1.00
162,344.493408,41.277916,-3.358,-0.792,4.895,222.1,59.8,-190.77,5.73,1.00
163,344.488220,41.251221,-3.592,-2.393,7.090,270.7,57.1,-222.08,4.97,0.98
165,344.481171,41.274887,-3.910,-0.973,5.753,241.3,56.9,-206.85,6.08,1.00
166,344.479096,41.261890,-4.004,-1.753,6.746,372.6,61.4,-199.93,4.62,1.00

In [33]:
dg.to_csv(data_path+'Lac1_dg1.csv')

In [34]:
sample1 = df1.sample(n=12)
sample1

,ra,dec,xki,eta,radius,signal,noise,vr,e_vr,P(member)
78,344.480011,41.340111,-3.962,2.940,4.982,251.5,48.1,-184.89,4.64,0.99
2,344.672821,41.197166,4.730,-5.637,8.128,804.3,68.0,-3.13,3.34,0.00
116,344.595093,41.288944,1.226,-0.130,1.443,183.1,56.3,-208.09,6.40,1.00
48,344.552338,41.313499,-0.702,1.343,1.896,348.3,58.8,-197.96,4.16,1.00
101,344.465179,41.191361,-4.631,-5.985,13.214,555.1,67.8,-106.86,4.25,0.00
147,344.542633,41.338696,-1.139,2.855,4.079,395.6,67.1,-186.25,4.37,0.99
124,344.578949,41.375084,0.498,5.038,8.314,363.1,57.4,-192.76,4.37,1.00
28,344.598663,41.295696,1.387,0.275,1.968,394.0,60.7,-201.51,3.94,1.00
40,344.565247,41.262054,-0.120,-1.743,2.843,232.7,46.8,-213.17,4.62,1.00
77,344.486420,41.283695,-3.673,-0.445,4.943,239.3,42.8,-202.55,4.55,1.00
102,344.464294,41.193695,-4.671,-5.845,13.048,430.9,71.3,-43.06,4.71,0.00
67,344.505737,41.323807,-2.802,1.962,3.438,277.7,50.0,-189.22,4.64,0.99

In [36]:
sample2 = df1.sample(n=int(len(df1)*0.5))
sample2

,ra,dec,xki,eta,radius,signal,noise,vr,e_vr,P(member)
1,344.681000,41.197334,5.099,-5.627,8.227,621.9,64.3,-109.61,3.38,0.00
32,344.576874,41.236443,0.404,-3.280,5.000,335.5,53.8,-96.73,4.01,0.00
21,344.612549,41.284527,2.013,-0.395,2.285,263.4,55.6,-196.47,4.90,1.00
45,344.557281,41.274971,-0.479,-0.968,1.891,369.9,48.8,-193.06,3.85,1.00
60,344.522278,41.299557,-2.057,0.507,2.302,435.4,55.0,-206.89,3.66,1.00
...,...,...,...,...,...,...,...,...,...,...
162,344.493408,41.277916,-3.358,-0.792,4.895,222.1,59.8,-190.77,5.73,1.00
95,344.699799,41.248222,5.946,-2.573,6.596,556.5,72.0,-193.45,3.49,1.00
57,344.532837,41.285694,-1.581,-0.325,2.255,325.7,48.7,-183.52,3.96,0.98
82,344.464874,41.349640,-4.645,3.512,5.891,253.7,46.1,-180.47,5.92,0.96
100,344.467194,41.188221,-4.540,-6.173,13.405,395.9,65.1,-78.51,5.06,0.00

In [37]:
sample1.to_csv(data_path+'Lac1_dg_s1.csv')
sample2.to_csv(data_path+'Lac1_dg_s2.csv')

## Practice - Create the following datasets:

Group 1: 100% of Lac1 members

Group 2: 50% of Lac1 members

Group 3: 10% of Lac1 members

Group 4: 100% of Per1 members

Group 5: 10% of Cas3 members

Group 6: 50% of Cas3 members